@font-face {
  font-family: 'Theme Regular';
  src: url('../assets/fonts/Theme/TestUntitledSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Theme Medium';
  src: url('../assets/fonts/Theme/TestUntitledSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Theme Bold';
  src: url('../assets/fonts/Theme/TestUntitledSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Theme Alt Medium';
  src: url('../assets/fonts/Theme/Satoshi-Medium.otf') format('opentype');
}

body,
html {
  color: #10191f;
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Theme Regular';
  background: #fbfaf3;
  overflow-x: hidden;
  background-color: #f7ce56;
  background-color: #ffffff;
}

.jobs {
  /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url('/public/assets/images/jason-goodman-IQY_q-RqaIo-unsplash.jpg');
  height: 100vh; */
  background: #eff4fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 11vh;
  position: relative;
  z-index: 10;
  padding: 0 4rem;
  width: 100%;
}

.nav__left {
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.nav__left button {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
}

.nav__center {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav__center select {
  word-wrap: normal;
  background: transparent;
  border: none;
  font-size: 16px;
}

.nav__right {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.nav__center button {
  background: transparent;
  border: none;
  color: #262626;
  font-family: 'Theme Medium', sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  margin: 0 2rem;
  outline: none;
}

.nav__right img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.header {
  height: 54vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header__container__container {
  width: 100%;
  margin: 0 0 5rem 0;
}

.jobs__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.jobs__header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.jobs__header__container h1 {
  font-family: 'Theme Medium', sans-serif;
  text-align: center;
  width: 70%;
  line-height: 9rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.search__container {
  width: 60%;
}

.search__container form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search__container__form {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 67px;
}

.search__container__form form {
  width: 97%;
}

.search__container__form svg {
  fill: #000;
}
.search__container__form__input {
  display: flex;
  align-items: center;
  width: 50%;
  background: #fff;
  margin: 0 1rem 0 0;
}

.search__container__form__input svg {
  fill: rgba(0, 0, 0, 0.24);
  margin: 0 0.5rem 0 1rem;
}

.search__container__form__input input {
  height: 5rem;
  width: 47%;
  margin: 0 1rem 0 0;
  border: none;
}

.search__container__form__input input::placeholder {
  color: rgba(0, 0, 0, 0.24);
  font-size: 15px;
  margin: 0 0 0 1rem;
}

.search__container__form input:focus {
  outline: none;
}

.search__container__form button {
  font-family: 'Theme Bold', sans-serif;
  border: none;
  border-radius: 50px;
  height: 5rem;
  outline: none;
  background-color: #ffe517;
  color: #fff;
  width: 60px;
  height: 60px;
}

.board {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 14rem;
}

.board__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: 0 0 9rem 0;
}

.board__header {
  text-align: left;
}

.board__header h1 {
  font-family: 'Theme Medium', sans-serif;
  font-size: 20px;
  letter-spacing: -0.3px;
  margin: 0 0 2rem 0;
}

.board__landing {
  width: 30%;
  background: #fff;
  border-radius: 10px;
  padding: 5rem;
}

.board__landing__container {
  display: flex;
}

.board__landing__header {
  display: flex;
}

.board__landing__header--icon {
  background: teal;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  height: 60px;
  width: 60px;
}

.board__landing__header--title {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
}

.board__landing__header--title h1 {
  font-family: 'Theme Medium', sans-serif;
  font-size: 23px;
  letter-spacing: -0.9px;
}

.board__landing__header--title p {
  font-family: 'Theme Regular', sans-serif;
  font-size: 15px;
  letter-spacing: -0.3px;
  margin: 0;
}

.board__list {
  height: 100%;
  width: 69%;
}

.board__list__jobs {
  display: grid;
  width: 100%;
}

.board__list__job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 29vh;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  margin: 0 0 1rem 0;
}

.board__list__job--icon {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  height: 60px;
  width: 60px;
}

.board__list__job--icon svg {
  height: 60px;
  width: 60px;
}

.board__list__job--content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  width: 89%;
}

.board__list__job--content--title {
  display: flex;
  align-items: center;
}

.board__list__job--content--title--title {
  margin: 0 0 0 1.5rem;
}

.board__list__job--content--title--title h2 {
  font-family: 'Theme Medium', sans-serif;
  font-size: 19px;
  letter-spacing: -0.4px;
}

.board__list__job--content--title--title p {
  margin: 0;
  font-size: 14px;
}

.board__list__job--content--location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5rem 0 0 0;
}

.board__list__job--content--location p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Theme Medium', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  width: 15%;
  min-height: 30px;
  min-width: 100px;
  margin: 0 1rem 0 0;
}

#board__list--location {
  background: #ffeb3b69;
}

#board__list--salary {
  background: #0000000a;
}

#board__list--shift {
  background: #90ee905c;
}

.board__list__job--content--location svg {
  width: 13px;
  margin: 0 0.2rem 0 0;
}

.board__list__job--content--salary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 88%;
}

.board__list__job--content--salary p {
  margin: 0;
  font-family: 'Theme Medium', sans-serif;
  font-size: 15px;
}

.home {
  height: 100vh;
}

#navbar__home {
  display: flex;
  align-items: center;
  height: 12vh;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #f7ce56;
  background-color: #b2baea;
}

#navbar__home--scrolled {
  display: flex;
  align-items: center;
  height: 12vh;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #fff;
}

.nav__home__sticky {
  display: flex;
  align-items: center;
  height: 12vh;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #f7ce56;
  border-bottom: 2px solid #000;
}

.nav--home__container {
  display: flex;
  width: 95%;
  height: 100%;
  /* border-bottom: 1px solid #000; */
}

.nav--home__left {
  display: flex;
  align-items: center;
  width: 33.3%;
}

.nav--home__left svg {
  fill: #000;
}

.nav--home__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
}

.nav--home__center ul {
  margin: 0;
  display: flex;
  font-family: 'Theme Regular', sans-serif;
  font-size: 16px;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

.nav--home__center svg {
  fill: #000;
  width: 12px;
  height: 12px;
  margin: 0 0 0 1rem;
}

.nav--home__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
}

.nav--home__right button {
  border: none;
  font-family: 'Theme Regular', sans-serif;
  font-size: 16px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  outline: none;
}

#home__button--signin {
  background-color: transparent;
  margin: 0 1rem 0 0;
}

#home__button--signup {
  font-family: 'Theme Medium', sans-serif;
  background-color: black;
  min-width: 105px;
  min-height: 50px;
  color: #fff;
  border-radius: 8px;
}

.home__main {
  display: flex;
  align-items: center;
  height: 88vh;
  justify-content: center;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 0;
  background: #b2baea;
  left: 0;
}

.home__main__container {
  display: flex;
  height: 100%;
  width: 90%;
}

.home__main__container__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.home__main__container__left h1 {
  font-family: 'Theme Bold', sans-serif;
  font-size: 6rem;
  letter-spacing: -2.5px;
  width: 66%;
  line-height: 5.5rem;
  margin: 0 0 1rem 0;
}

.home__main__container__left p {
  font-family: 'Theme Regular', sans-serif;
  font-size: 20px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  margin: 2rem 0 3rem 0;
  width: 66%;
}

.home__main__container__left button {
  border-radius: 8px;
  border: none;
  font-family: 'Theme Medium', sans-serif;
  font-size: 16px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  outline: none;
  background-color: #000;
  min-width: 150px;
  min-height: 60px;
  color: #fff;
  margin: 1rem 0 0 0;
}

.home__main__container__right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.home__main__container__right img {
}

#section__about__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0vh;
  background: transparent;
  height: 11vh;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.section__about__cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: relative;
  top: 0;
}

.section__about__cards__container:nth-child(3) {
  border-bottom: 2px solid #000;
}

.section__about__cards__container h1 {
  margin: 0 0 5rem 0;
  font-family: 'Theme Medium', sans-serif;
  font-size: 4rem;
  letter-spacing: -2.5px;
  line-height: 5.5rem;
  text-align: center;
}

.section__about__cards__container__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

/* .section__about__cards__container__row:nth-child(odd) {
  margin: 0 0 0 3rem;
} */

/* #section__about__cards__container__row--child {
  border-right: 2px solid #000;
} */

.section__about__cards__container__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section__about__cards__container__card__container {
  display: flex;
  flex-direction: column;
}

.section__about__cards__container__card--icon {
  height: 50%;
}

.section__about__cards__container__card--blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section__about__cards__container__card--blurb h2 {
  font-family: 'Theme Medium', sans-serif;
  font-size: 2rem;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  margin: 0;
}

.section__about__cards__container__card--blurb h2::after {
  margin: 0 0 0 14rem;
  content: '✧';
}

.section__about__cards__container__card--blurb p {
  font-family: 'Theme Regular', sans-serif;
  font-size: 20px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  margin: 2rem 0 2rem 0;
  width: 100%;
}

#section-seo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: transparent;
  position: relative;
  top: 0;
}

#section-seo-mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: transparent;
  position: relative;
  top: 0;
  color: #000;
}

.section__what {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 74%;
  height: 100%;
}

.section__what__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.section__what__left h2 {
  font-family: 'Theme Bold', sans-serif;
  font-size: 4rem;
  letter-spacing: -2px;
}

.section__what__left p {
  font-family: 'Theme Regular', sans-serif;
  font-size: 17px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  margin: 2rem 0 2rem 0;
  width: 88%;
  text-align: left;
}

.section__what__left button {
  border: 2px solid #000;
  font-family: 'Theme Medium', sans-serif;
  font-size: 16px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  outline: none;
  background-color: transparent;
  min-width: 150px;
  min-height: 60px;
  color: #000;
  margin: 1rem 0 0 0;
}

.section__what__left__header span {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Theme Bold', sans-serif;
  color: #ffffff;
  max-width: 80px;
  min-height: 32px;
  margin: 0 0 2rem 0;
}

.section__what__left__list {
  width: 100%;
}

.section__what__left__list ul {
  list-style-type: none;
  padding: 0;
  width: 60%;
}

.section__what__left__list li {
  background-color: rgb(0 0 0 / 4%);
  display: flex;
  align-items: center;
  font-family: 'Theme Medium', sans-serif;
  height: 4rem;
  color: #000;
  margin: 0 0 3rem 0;
  padding: 0 0 0 1rem;
}

.section__what__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background: transparent;
  height: 100%;
}

.section__what__right img {
  width: 100%;
  background: transparent;
}

#section-jobs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: black;
  color: #fff;
  position: relative;
  top: 0;
}

.section__jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.section__jobs__catagories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.section__jobs__catagory {
  width: 49%;
  border: 2px solid;
  background: #00000017;
  padding: 3rem;
}

.section__jobs__catagory h3 {
  font-family: 'Theme Regular', sans-serif;
}

.section__jobs__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
}

.section__jobs__top h2 {
  font-family: 'Theme Bold', sans-serif;
  font-size: 4rem;
  letter-spacing: -2.5px;
  width: 90%;
  line-height: 5.5rem;
}

.section__jobs__top p {
  font-family: 'Theme Regular', sans-serif;
  font-size: 20px;
  letter-spacing: -0.25px;
  line-height: 2.1rem;
  margin: 2rem 0 2rem 0;
  width: 39%;
}

.section__jobs__bottom {
  width: 79%;
}

.section__jobs__bottom ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 6rem 0 0 0;
  padding: 0;
}

.section__jobs__bottom li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3%;
  align-items: center;
  font-family: 'Theme Medium', sans-serif;
  justify-content: center;
  letter-spacing: -0.5px;
  width: 100%;
  font-size: 20px;
  min-height: 10rem;
  padding: 0 3rem;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.section__jobs__bottom__job--title {
  display: flex;
  height: 6rem;
}

.section__jobs__bottom__job--title--icon {
  font-family: 'Theme Regular', sans-serif;
  background-color: #007556;
  color: #fff;
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0 0;
  border-radius: 5px;
}

.section__jobs__bottom__job--title--title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section__jobs__bottom__job--title--title span {
  line-height: 2.5rem;
}

.section__jobs__bottom__job--title--title--company {
  font-family: 'Theme Regular', sans-serif;
  font-size: 16px;
}

.section__jobs__bottom__job--leftcolumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section__jobs__bottom__job--leftcolumn svg {
  margin: 0 1rem 0 0;
}

.section__jobs__bottom__job--rightcolumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__jobs__bottom__job--rightcolumn button {
  background-color: #007556;
  color: #fff;
  outline: none;
  border: none;
}

.section__jobs__bottom__job--rightcolumn svg {
}
